<Label text="StackLayout: horizontal" style="color:black;width: 100%;"></Label>
<StackLayout class="horizontal" orientation="horizontal">
    <Label class="lbl1" text="Lbl 1"></Label>
    <Label class="lbl2" text="Lbl 2" verticalAlignment="top"></Label>
    <Label class="lbl3" text="Lbl 3" verticalAlignment="bottom"></Label>
</StackLayout>
<Label text="StackLayout: vertical" style="color:black;width: 100%;"></Label>
<StackLayout>
    <Label class="lbl1" text="Lbl 1"></Label>
    <Label class="lbl2" text="Lbl 2" horizontalAlignment="right"></Label>
    <Label class="lbl3" text="Lbl 3" horizontalAlignment="left"></Label>
</StackLayout>