/* Add mobile styles for the component here.  */
TextField {
    width: 66%;
}

Button {
    width: 33%;
}


.txtField {
    border-bottom-width: 1;
    border-bottom-color: #7c015d;
    margin: 5;
    padding: 3;
    background: #f9f9f9;
    font-size: 17;
}