<FlexboxLayout class="flexTop" flexDirection="row" justifyContent="space-between" alignItems="center" alignItems="flex-start">
    <Label class="lbl1" text="A"></Label>
    <Label class="lbl2" text="B" alignSelf="flex-end"></Label>
    <Label class="lbl3" text="C"></Label>
</FlexboxLayout>

<FlexboxLayout class="flexBottom" justifyContent="space-between">
    <FlexboxLayout class="flexLeft" flexDirection="column" justifyContent="space-around" alignItems="center">
        <Label class="lbl1" text="A"></Label>
        <Label class="lbl2" text="B"></Label>
        <Label class="lbl3" text="C"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="flexRight" flexDirection="column" justifyContent="space-around">
        <Label class="lbl1" text="A"></Label>
        <Label class="lbl2" text="B"></Label>
    </FlexboxLayout>
</FlexboxLayout>