@import '~nativescript-theme-core/scss/light';

$primary: #800062;
$secondary: #ad0085;
$disabled: #ccc;

$btn-color: $primary;

.drawer-container {
    background: linear-gradient(140deg, $primary, $secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
}

ActionBar {
    background: $primary;
    color: white;
}